* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background: rgba(255, 175, 175, 0.756);
    max-width: min-content;
}

/*1 navbar*/

.navbar {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    background: rgb(223, 123, 22);
    background: linear-gradient(90deg, rgba(223, 123, 22, 1) 0%, rgba(254, 178, 0, 1) 53%, rgba(221, 36, 0, 1) 100%);
}

.navbar img {
    width: 120px;
    align-items: center;
    height: 140px;
    margin-left: 20px;
}

.nav-logo {
    padding-top: 18px;
    font-weight: bold;
    font-style: italic;
    padding-left: 20px;
    text-align: center;
}

.nav-logo h1 {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}

.nav-logo span {
    color: rgb(7, 7, 7);
}

.navbar ul{
    list-style: none;
    align-items: center;
}

.navbar li{
    list-style: none;
    display: inline-flex;
    padding: 5px;
    padding-top: 15px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.navbar li:hover{
    color: #000;
    transition: 0.3s;
}

.navbar ul{
    margin-right: 10px;
}

ul a {
    color: #fff;
    font-size: 24px;
    padding-top: 22px;
    margin-right: 20px;
}

ul a:hover {
    color: #000;
    transition: 0.7s;
}

i {
    padding: 5px;
    margin-right: 10px;
    margin-top: 5px;
    align-items: center;
}

.navbar input {
    padding: 5px;
    border-radius: 10px;
}

.navbar input[type="submit"] {
    color: #fff;
    border: transparent;
    background-color: #000;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
    margin-left: -230px;

}

.navbar input[type="search"]{
    justify-content: center;
    margin-left: 110px;
    padding: 5px;
    border: transparent;
}


/*carrosel*/


.carousel {
    position: relative;
    max-width: 100%;
    height: 550px;
    /* Ajuste a altura aqui */
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    /* Certifique-se de que a altura é 100% do contêiner do carrossel */
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    height: 100%;
    /* Certifique-se de que a altura é 100% do contêiner do carrossel */
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Isso garante que as imagens preencham o contêiner sem distorção */
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(241, 240, 240, 0.582);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(151, 151, 151, 0.571);
}


/*items section*/

h2 {
    text-align: center;
    padding-top: 40px;
    

}

h2 img {
    width: 300px;
}

p {
    text-align: center;
    color: #796b6b;
    font-size: 14px;
    padding-bottom: 30px;
    font-weight: bold;
}
.items p{
    font-size: 34px;
    color: #fff;
    padding-bottom: -30px;
}
.items {
    display: flex;
    padding: 25px;
    justify-content: space-around;
    margin-top: 100px;
    margin: 15px;
}


.items img {
    width: 300px;
    height: 300px;
    display: block;
    padding-bottom: 10px;
}

.items p {
    font-weight: bold;
    padding-bottom: px;
    font-size: 30px;
    border-bottom: 2px solid #fff;

}


.items input {

    font-weight: bold;
    margin-top: 25px;
    margin-left: 80px;
    margin-bottom:30px ;
    color: #000;
    font-size: 15px;
    background: transparent;
    border: solid #ffffff;
    border-radius: 30px;
    padding: 20px;
}


.items input:hover{
    background-color: #f2eeee;
}


.item1,
.item2,
.item3 {
    border: 2PX solid#ffffff;
    background-color: #d43500f3;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}


/*contact form*/

.contact-form{
    width: 50%;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 90px;
    padding-top: 50px;
}


.contact-form h2{
    color: #fff;
    font-size: 28px;
    padding-top: 30px;
    border-bottom: 2px solid #000;
    margin-bottom: 30px;
}
.contact-form input{
    display: block;
    margin-top: 8px;
    width: 60%;
    padding: 10px;
    border: 1px solid #fff;
    margin-bottom:  3px;
    border-radius: 20px;
    margin-left: 135px;
    
}

.contact-form textarea{
    display: block;
    width: 60%;
    padding: 25px;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 20px;
}


/*footer container*/

.footer-container{
    background-color: #000;
    color: #fff;
    height: 150px;
    display: flex;
    justify-content:space-around;
    font-size: 14px;
    padding-top: 20px;
}

.img-container{
    display: flex;
    width: 100%;
    height: 100%;
}


.sobre-container,
.account-container,
.pagamento-container{
    display: block;
    color: #cccc;
}

.sobre-container ul{
    padding-top: 15px;
}

.sobre-container a{
    font-size: 14px;
    text-decoration: none;
    
}


.account-container ul{
    padding-top: 15px;
}

.account-container a{
    font-size: 14px;
    text-decoration: none;
    
}

.pagamento-container ul{
    padding-top: 15px;
    color: #fff;
}

.pagamento-container a{
    font-size: 14px;
    text-decoration: none;
    
}

